---
title: Cross-tenant publisher verification
date: 2020-11-26T19:00:00+02:00
author: Jan Hajek
categories:
  - Microsoft
  - Microsoft Azure
tags:
  - Azure AD
  - Microsoft Partner
  - Cloudflare Workers
link: https://hajekj.net/2020/11/26/cross-tenant-publisher-verification/
---

Starting in November 2020, Microsoft [started limiting applications](https://techcommunity.microsoft.com/t5/azure-active-directory-identity/publisher-verification-and-app-consent-policies-are-now/ba-p/1257374) to which end-users can consent to. The setup is fairly simple if you use a single tenant for everything, but in case you use multiple tenants (for production workloads for example), this gets slightly more complicated.

[Full Article](https://hajekj.net/2020/11/26/cross-tenant-publisher-verification/)