---
layout: default
---
{% assign author_name = page.title | default: page.name %}
{% assign author = site.data.authors[author_name] %}
{% assign page.author = author %}

<div id="main" role="main">
    <div class="sidebar sticky">
        {% include author-profile-custom.html %}
    </div>

    <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
        <h2>Posts by {{ author.name | default: author_name }}</h2>
        <div>{{ content }}</div>
        {% assign author_posts = site.posts | where: "author", author_name %}
        {% assign filtered_posts = author_posts | where_exp: "post", "post.hidden != true" %}
        <ul>
            {% for post in filtered_posts %}
            <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </article>
</div>
